.landing-small-image {
    background-image: url(../images/sprite-landing-page.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.landing-small-image-2224---Wedding-Dress {
    width: 48px;
    height: 48px;
    background-position: -5px -5px;
}

.landing-small-image-2225---Wedding-Cake-I {
    width: 48px;
    height: 48px;
    background-position: -63px -5px;
}

.landing-small-image-2231---Invitation-Card {
    width: 48px;
    height: 48px;
    background-position: -121px -5px;
}

.landing-small-image-2235---Official-Document {
    width: 48px;
    height: 48px;
    background-position: -179px -5px;
}

.landing-small-image-2236---Lips {
    width: 48px;
    height: 48px;
    background-position: -237px -5px;
}

.landing-small-image-2241---Diamond-ring {
    width: 48px;
    height: 48px;
    background-position: -5px -63px;
}

.landing-small-image-2246---Candles {
    width: 48px;
    height: 48px;
    background-position: -63px -63px;
}

.landing-small-image-2269---Home {
    width: 48px;
    height: 48px;
    background-position: -121px -63px;
}

.landing-small-image-2272---Carriage {
    width: 48px;
    height: 48px;
    background-position: -179px -63px;
}

.landing-small-image-Administrator-Male-48 {
    width: 48px;
    height: 48px;
    background-position: -237px -63px;
}

.landing-small-image-Airport-48 {
    width: 48px;
    height: 48px;
    background-position: -5px -121px;
}

.landing-small-image-DJs {
    width: 48px;
    height: 48px;
    background-position: -63px -121px;
}

.landing-small-image-Dancing-48 {
    width: 48px;
    height: 48px;
    background-position: -121px -121px;
}

.landing-small-image-Dekoration {
    width: 48px;
    height: 48px;
    background-position: -179px -121px;
}

.landing-small-image-Firework-48 {
    width: 48px;
    height: 48px;
    background-position: -237px -121px;
}

.landing-small-image-Foto-Video {
    width: 48px;
    height: 48px;
    background-position: -5px -179px;
}

.landing-small-image-Gastronomie {
    width: 48px;
    height: 48px;
    background-position: -63px -179px;
}

.landing-small-image-Housekeeper-Male-48 {
    width: 48px;
    height: 48px;
    background-position: -121px -179px;
}

.landing-small-image-Locations {
    width: 48px;
    height: 48px;
    background-position: -179px -179px;
}

.landing-small-image-Microphone-48 {
    width: 48px;
    height: 48px;
    background-position: -237px -179px;
}

.landing-small-image-Musik-bands {
    width: 48px;
    height: 48px;
    background-position: -5px -237px;
}

.landing-small-image-Musik-fur-kirche {
    width: 48px;
    height: 48px;
    background-position: -63px -237px;
}

.landing-small-image-Park-Concert-Shell-48 {
    width: 48px;
    height: 48px;
    background-position: -121px -237px;
}

.landing-small-image-Security-Checked-48 {
    width: 48px;
    height: 48px;
    background-position: -179px -237px;
}

.landing-small-image-Showacts {
    width: 48px;
    height: 48px;
    background-position: -237px -237px;
}

.landing-small-image-children {
    width: 48px;
    height: 48px;
    background-position: -295px -5px;
}