/* Body variables */
$color: #1d1d1b;
$color-dark: #1e1e1e;
$color-light: #7d7d7d;
$color-white: #ffffff;
$theme_color: #00b892;

/* Header variables */
$header_bg_color: #ffffff;
$header_navigation_bg_color: #ffffff;

/* Block variables */
$block-padding-value-big: 70px;
$block-padding-value-medium: 25px;
$block-padding-value-small: 15px;
$block-padding-value-tiny: 7px;
$separator-height: 60px;
$package-size: 191px;
$package-padding: 20px;
$btn-height: 36px;
$heading-after-line-height: 3px;
$heading-after-line-width: 124px;
$heading-title_padding: 7px;

$btn-dark-bg: #1e1e1e;
$btn-darker-bg: #000000;
$btn-dark-color: #ffffff;
$btn-light-bg: #eeeeee;
$btn-light-color: #1e1e1e;
$btn-grey-bg: #c7c2b9;
$btn-greyish-bg: #bbbfbf;
$btn-greyish-bg-hover: #a6abab;
$btn-greyish-border: #aeb3b3;
$btn-greyish-border-hover: #8e9595;
$btn-light-grey-bg: #d2d2d2;
$btn-grey-bg-active: #ADA8A1;
$btn-grey-color: #ffffff;

$block-bg-warm-color: #f4f3f1;
$block-bg-cold-color: #eaf6f6;
$block-bg-warning-color: #ffced6;
$block-bg-success-color: #b4f6ba;
$package-color: $color-white;
$container-profile-color: #8f8f8f;

/* Footer variables */
$footer_color: #8e8e8e;
$footer_links_color: #ffffff;
$footer_menu_hover_bg_color: #e7e7e7;
$footer_bg_color: $color-dark;
$footer-content-border-color: #8e8e8e;

/* Profile variables */

$user-img-width: 80px;
$user-img-height: 80px;

/* General variables */

$text-muted: #cccccc;
$text-light-black: #1e1e1e;


$lang-images-url: "../images/css-images/lang_icons.png";

/* Font Weight */
$weight-light: 300;
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;

/* Font Style */
$style-italic: italic;