@import "fonts";
@import "variables";

/*
Light 300
Light 300 Italic
Normal 400
Normal 400 Italic
Semi-Bold 600
Semi-Bold 600 Italic
Bold 700
Bold 700 Italic
Extra-Bold 800
Extra-Bold 800 Italic
*/
@import "../partials/bootstrap";

@import "../partials/typography";
@import "../partials/elements";

@import "../partials/header";
@import "../partials/bootstrap_select";
/* Footer css include */
@import "../partials/footer";


html {
  width: 100%;
  height: 100%;
  position: relative;
}
body {
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  color: $color;
  min-height: 100%;
  overflow-x: hidden;
}
.pointer {
  cursor: pointer;
}
.no-padding {
  padding: 0px !important;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;

  &.title {
    margin-bottom: 15px;
  }
}
//s
.explanation {
  margin-bottom: 30px;
  h2 {
    position: relative;
    font-weight: 800;
    font-size: 30px;
    padding-bottom: 23px;
    margin-bottom: 20px;

    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 100px;
      height: 3px;
      background: $theme_color;
      left: 0;
      bottom: 0;
    }
  }

  p {
    font-size: 12px;
    line-height: 22px;
    color: #464646;
    margin-bottom: 10px;
  }
}


@media all and (min-width: 767px) {
  .explanation {
    h2 {
      font-size: 40px;
    }
  }
}
